.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    max-width: 120rem;
    justify-content: center;
    margin: 0 auto;
  }
  .grid_col{
    margin: 0 1rem;
  }
  @media (max-width: 30rem) {
    .grid_container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  h1, h2{
    text-align: center;
    
  }

  @font-face {
    /*Bröd text*/
    font-family: "promt_light";
    src: url(fonts/Prompt/Prompt-Light.ttf);
  
    /*Rubrik*/
    font-family: "roboto_bold";
    src: url(fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
  }
  
  p{
    font-family: "promt_light";
    font-size: 1.25rem;
  }
  
  h1{
    font-family: "roboto_bold";
    font-size: 3.5rem;
  }
  h2{
    font-family: "roboto_bold";
    font-size: 2.5rem;
  }
  h3{
    font-family: "roboto_bold";
    font-size: 2rem;
  }
  h4{
    font-family: "roboto_bold";
    font-size: 1.75rem;
  }
  h5{
    font-family: "roboto_bold";
    font-size: 1.5rem;
  }
  h6{
    font-family: "roboto_bold";
    font-size: 1.25rem;
  }
.start{
    text-align: start;
}  