body {
  background-color: #244918;
}
.bg-test {
  background-color: #f5f5dd;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url(img/parallax5-min.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
