.footer_ul {
  list-style: none;
  padding: 0;
}
.arrow_back {
  position: relative;
}
.footer_ul .arrow_back:before {
  content: url(img/arrow-back-to-the-latest-page.png);
  position: absolute;
  top: -10%;
  right: 100%;
  width: 50%;
}
.arrow_forward {
  position: relative;
}
.footer_ul .arrow_forward:after {
  content: url(img/arrow-to-next-page.png);
  position: absolute;
  top: -10%;
  left: 110%;
  width: 50%;
}
.footer_ul .dot:before {
  content: "• ";
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url(img/parallax5-min.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-style {
  z-index: 0;
}
.z-index {
  z-index: 999;
}
