.footer_ul {
  list-style: none;
  padding: 0;
}
.footer_ul .dot:before {
  content: "• ";
}
.header-style {
  z-index: 0;
}
.keyart,
.keyart_layer {
  z-index: -1;
}
.keyart_layer {
  background-size: cover;
  background-repeat: no-repeat;
}

.img-style {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.min-vh-97 {
  min-height: 90vh;
}
.card-style {
  border: 0.5rem solid #54774b;
}
.box-shadow,
.card-style {
  box-shadow: 0 0 0.5rem hsla(108, 17%, 23%, 0.5);
}
.lower-box-shadow {
  box-shadow: 0 0.5rem 0.5rem hsla(108, 17%, 23%, 0.3);
}

.background {
  background-image: url(img/parallax5-min.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.tc {
  height: 10rem;
}
@media (min-width: 576px) {
  .wbp {
    max-width: 100%;
  }
  .parallax {
    background-image: url(img/paralax-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .logotype-image {
    display: inline;
  }
}
.parallax {
  background-image: url(img/paralax-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.logotype {
  display: none;
}
@media (min-width: 768px) {
  .wbp {
    max-width: 75%;
  }
  #keyart-0 {
    background-image: url("img/sky2-min.svg");
  }
  #keyart-1 {
    background-image: url("img/ground52-min.svg");
  }
  #keyart-2 {
    background-image: url("img/ground42-min.svg");
  }
  #keyart-3 {
    background-image: url("img/ground32-min.svg");
  }
  #keyart-4 {
    background-image: url("img/ground22-min.svg");
  }
  #keyart-5 {
    background-image: url("img/ground12-min.svg");
  }
  .parallax {
    background-image: none;
  }
  .logotype {
    display: inline;
  }
  .logotype-image {
    display: none;
  }
}
link[rel="icon"] {
  transform: scale(2);
}

svg:hover .beam {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.beam {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.m-header {
  margin: 3rem 0 9rem 0;
}
