.footer_ul {
  list-style: none;
  padding: 0;
}
.footer_ul li::before {
  content: "•";
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url(img/parallax5-min.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-style {
  z-index: 0;
}

.keyart,
.keyart_layer {
  height: 1000px;
}

#parallax {
  display: block;
}

.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}
.keyart_layer.parallax {
  position: fixed;
}
#keyart-0 {
  background-image: url("img/sky-min.svg");
}
#keyart-1 {
  background-image: url("img/ground5-min.svg");
}
#keyart-2 {
  background-image: url("img/ground4-min.svg");
}
#keyart-3 {
  background-image: url("img/ground3-min.svg");
}
#keyart-4 {
  background-image: url("img/ground2-min.svg");
}
#keyart-5 {
  background-image: url("img/ground1-min.svg");
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  #keyart-0 {
    background-image: url("img/sky-min.svg");
  }
  #keyart-1 {
    background-image: url("img/ground5-min.svg");
  }
  #keyart-2 {
    background-image: url("img/ground4-min.svg");
  }
  #keyart-3 {
    background-image: url("img/ground3-min.svg");
  }
  #keyart-4 {
    background-image: url("img/ground2-min.svg");
  }
  #keyart-5 {
    background-image: url("img/ground1-min.svg");
  }
}
