.card_width {
  max-width: 25rem;
  min-width: 13rem;
}
.arrow_back {
  position: relative;
}
/*
TA INTE BORT!!!!!

.footer_ul .arrow_back:before {
  content: url(img/arrow-back-to-the-latest-page.png);
  position: absolute;
  top: 0;
  right: 100%;
  width: 50%;
  margin-left: 1rem;
}
.arrow_forward {
  position: relative;
}
.footer_ul .arrow_forward:after {
  content: url(img/arrow-to-next-page.png);
  position: absolute;
  top: 0;
  left: 110%;
  width: 50%;
}*/
.show-content-sm {
  display: none;
}
@media (max-width: 767px) {
  .show-content-sm {
    display: contents;
  }
}
