.card_width {
  max-width: 25rem;
  min-width: 13rem;
}
.arrow_back {
  position: relative;
}
.show-content-sm {
  display: none;
}
@media (max-width: 767px) {
  .show-content-sm {
    display: contents;
  }
}
.navbar-toggler-icon {
  background-image: url(img/hamburger-icon.svg);
}
@media (min-width: 576px) {
  .d-flex-nav {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 767px) {
  .d-flex-nav {
    display: block;
  }
}
.z-index-5 {
  z-index: 9999999999;
}
