@font-face {
  /*Bröd text*/
  font-family: "prompt_light";
  src: url(fonts/Prompt/Prompt-Light.ttf);

  /*Rubrik*/
  font-family: "roboto_bold";
  src: url(fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf);
}

p {
  font-family: "prompt_light";
}

h1 {
  font-family: "roboto_bold";
}
h2 {
  font-family: "roboto_bold";
}
h3 {
  font-family: "roboto_bold";
}
h4 {
  font-family: "roboto_bold";
}
h5 {
  font-family: "roboto_bold";
}
h6 {
  font-family: "roboto_bold";
}
